* {
    margin: 0;
    padding: 0;
    /*background-color: #eaeaea;*/
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
}

/* .signupContainer {
    display: flex;
    height: 100vh;
    background-color: #f7e9e9;
    font-family: Arial, sans-serif;
}

.formSection {
    width: 50%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 15px 0 0 15px;
}

h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

form {
    width: 80%;
    display: flex;
    flex-direction: column;
}

input {
    padding: 0.75rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 1rem;
}

button {
    padding: 0.75rem;
    background-color: #ff5bf0;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
}

button:hover {
    background-color: #ff4ae0;
}

p {
    margin-top: 1rem;
    font-size: 0.9rem;
}

.teacherLink a,
.signinLink a {
    color: #ff4ae0;
    text-decoration: none;
}

.teacherLink a:hover,
.signinLink a:hover {
    color: #d647d2;
} */
