.flexContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.imageForm {
    width: 40%;
    height: auto;
    padding: 5px;
}

.teachersSection {
    width: 100%;
    text-align: center;
    background-image: url('../../../public/images/bubbles.png');
    background-size: cover;
    height: 75vh;
    overflow-y: auto;
    margin: 50px auto;
}

.teachersHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

.teachersHeader h1 {
    font-size: 32px;
    margin-right: auto;
}

.buttons {
    display: flex;
    justify-content: space-between;
}

.prev-button,
.next-button {
    background-color: #29bc63;
    border: none;
    width: 40px;
    height: 40px;
    font-size: 16px;
    color: white;
    margin-left: 20px;
    cursor: pointer;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.prev-button:hover,
.next-button:hover {
    background-color: #ff4500;
}

.carouselContent {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.cardContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 900px;
    padding: 40px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.teacherCard {
    width: 100%;
}

.teacherImage img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

.teacherInfo {
    margin-left: 20px;
}

.teacherInfo h2 {
    font-size: 24px;
    color: #ff6500;
}

.teacherInfo p {
    font-size: 14px;
    color: #999;
}

.teacherInfo ul {
    list-style: none;
    padding: 0;
}

.teacherInfo li {
    font-size: 16px;
    color: #333;
}
