.illustration-section {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f7e9e9;
    border-radius: 0 15px 15px 0;
}

.logo {
    font-size: 2rem;
    font-weight: bold;
    color: #c06cff;
    margin-bottom: 1rem;
}
